{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}
{% block body %}
    {% import "default/macros/randomAOS.html.twig" as randomAOS %}




    <div class="home">
        <div class="bgimg-1" style="">
            <div class="caption-main" data-aos="zoom-in">
                <span class="border">Patricia - Marcy Photo Club</span>
                <a class="js-scrollTo" href="{{ path('home') }}#aLaUne" onclick="changeAnchor('aLaUne')">
                    <div class="pulse-button"><i class="fa fa-angle-down"></i></div>
                </a>
            </div>
        </div>

        <span class="ancres" id="aLaUne"></span>
        <div class="container">
            <h2 id="">A la Une</h2>
            {% if albumUne is not null %}
                <div class="content" data-aos="fade-right">
                    <h3>{{ albumUne.name }}</h3>
                    <div style="background: url('{{ vich_uploader_asset(albumUne.imageMiniature, 'imageFile') }}') no-repeat center;"
                         class="press"></div>
                    <p>
                        {{ albumUne.message | nl2br | raw }}
                    </p>
                    <div class="more-info">
                        <a href="{{ path('album', { 'dir' :albumUne.dir }) }}">
                            <button class="pulse-button btn"><i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="bgimg-2">
            <div class="caption">
                <a class="js-scrollTo" href="{{ path('home') }}#album" onclick="changeAnchor('album')">
                    <div class="pulse-button"><i class="fa fa-angle-down"></i></div>
                </a>
            </div>
        </div>
        <span class="ancres" id="album"></span>
        <div class="container">
            <h2 id="">Albums</h2>
            <div class="content">
                <div class="row">
                    {% for album in albums %}

                        <a href="{{ path('album', { 'dir' :album.dir }) }}">
                            <div class="col-lg-3 col-md-3 col-sm-6" data-aos="{{ randomAOS.randomAOS }}">
                                {% if album.imageMiniature is not empty %}
                                    <img src="{{ vich_uploader_asset(album.imageMiniature, 'imageFile') }}"
                                         class="img-responsive img-rounded album-mini">
                                {% endif %}

                                <div class="album-mini-title">
                                    {{ album.name|slice(0, 50) }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <div class="col-xs-12 text-right">
                        Afficher tout les albums <a href="{{ path('albums') }}">
                            <button class="pulse-button btn"><i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bgimg-3" style="">
            <div class="caption">
                <a class="js-scrollTo" href="{{ path('home') }}#newLetter" onclick="changeAnchor('newLetter')">
                    <div class="pulse-button"><i class="fa fa-angle-down"></i></div>
                </a>
            </div>
        </div>
        <span class="ancres" id="newLetter"></span>
        <div class="container">
            <h2 id="">Newletter</h2>
            <div class="content newLetter">
                <form action="" method="post" role="form" class="row">

                    <div class="col-xs-10">
                        <input type="text" class="form-control" name="email" id="emailNewsletter"
                               placeholder="jean@exemple.fr" value="test@gmail.com">
                    </div>


                    <div class="col-xs-2 text-center">

                        <div><i class="glyphicon glyphicon-ok signInNewsletter"></i></div>
                    </div>
                </form>


            </div>
        </div>

        <div class="bgimg-1" style="">
            <div class="caption">
                <a class="js-scrollTo" href="{{ path('home') }}#footer" onclick="changeAnchor('footer')">
                    <div class="pulse-button"><i class="fa fa-angle-down"></i></div>
                </a>
            </div>
            <div class="caption-main">
                <a class="js-scrollTo" href="{{ path('home') }}#top" onclick="changeAnchor('top')">
                    <div class="pulse-button"><i class="fa fa-angle-up"></i></div>
                </a>
                <span class="border cursor" data-toggle="modal" data-target="#basicModal">Me Contacter</span>
            </div>
        </div>
        <span class="ancres" id="footer"></span>
        <div class="container-fluid">
            <h2 id="">Footer</h2>
        </div>

        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Modal Body</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
        AOS.init();

        function validateEmail(email) {
            let re = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
            return re.test(email);
        }

        $('.signInNewsletter').on('click', function (e) {
            let email = $('#emailNewsletter').val();

            if (validateEmail(email)) {
                console.log("Mail okay");
                $.ajax({
                    type: 'POST',
                    data: {
                        email: email,
                    },
                    url: "/ajax/addNewsletter",
                    dataType: 'json',
                    timeout: 6000,
                    success: function (response) {
                        console.log(response)
                        if (response.type === "valid") {
                            $('#emailNewsletter').val("");
                        }
                        $('.flashes').html('<div class="myFlash">\n' +
                            '<div class="close">\n' +
                            '<i class="fa fa-times"></i>\n' +
                            '</div>\n' +
                            '<div class="content">\n' +
                            response.message +
                            '</div>\n' +
                            '</div>');
                        /*$('#emailNewsletter').val("")*/
                    },
                    error: function () {

                    }
                })
            } else {
                console.log("Mail pas okay")
            }


            /**/


        })
    </script>
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}

