{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ title }}!{% endblock %}

{% block body %}



    <div class="editAlbum">
        <div class="modalUploadPhoto" id="drop-area" data-album="{{ album.id }}">
            <label for="inputFile">Selectionné des photos...</label>
            <input type="file" id="inputFile">
            <label for="sousAlbumSelect" class="hidden">Sous Album</label>
            <select name="sousAlbum" id="sousAlbumSelect" class="form-control hidden">
                <option value="0">Aucun</option>
                {% for sousAlbum in album.sousAlbums %}
                    <option value="{{ sousAlbum.id }}">{{ sousAlbum.name }}</option>
                {% endfor %}
            </select>
            <input type="text" name="albumId" id="albumId" value="{{ album.id }}" class="hidden">
        </div>
        <form method="post" enctype="multipart/form-data" id="addNewAlbumForm"
              action="{{ path('administrationeditAlbum', {'id':album.id }) }}">
            <div class="content">
                <div class="row">
                    <div class="col-xs-11">
                        <h2>{{ album.name }}</h2>
                    </div>
                    <div class="col-xs-1">
                        <div class="submitForm">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                </div>


                <div class="row titlePage">
                    <div class="col-xs-4">
                        <label for="title">Nom de l'album</label>
                    </div>
                    <div class="col-xs-4">
                        <label for="dateTime">Date</label>
                    </div>
                    <div class="col-xs-4">
                        <label for="status">Status de l'album</label>
                    </div>
                </div>

                <div class="row round">
                    <div class="col-xs-4  text-center">
                        <input type="text" name="title" id="title" value="{{ album.name }}">
                    </div>
                    <div class="col-xs-4  text-center">
                        <input type="date" name="dateTime" id="dateTime" value="{{ album.date|date('Y-m-d') }}">
                    </div>
                    <div class="col-xs-4  text-center">
                        <select name="status" id="status" class="form-control">
                            <option value="0" {% if album.status == 0 %} selected {% endif %}>En attente</option>
                            <option value="1" {% if album.status == 1 %} selected {% endif %}>Publier</option>
                            <option value="2" {% if album.status == 2 %} selected {% endif %}>A la une</option>
                            <option value="3" {% if album.status == 3 %} selected {% endif %}>Privé</option>
                        </select>
                    </div>
                </div>


                <div class="row titlePage">
                    <div class="col-xs-11">
                        <label for="messageAlbum">Commentaire de l'album</label>
                    </div>
                    <div class="col-xs-1">
                        <div class="toggleMessageAlbum">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="row round messageAlbum">
                    <div class="col-xs-12  text-center ">
                        <textarea name="messageAlbum" id="messageAlbum" cols="30"
                                  rows="10">{{ album.message }}</textarea>
                    </div>
                </div>
                <div class="row titlePage">
                    <div class="col-xs-10">
                        Les Photos
                    </div>
                    <div class="col-xs-1">
                        <div class=" uploadImage" data-album="{{ album.id }}">
                            <i class="fa fa-upload"></i>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <div class="togglePreviewAlbum">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>

                </div>
                <div class="row listPhotos text-center">
                    {% if album.imageMiniature is null %}
                        <div class="col-xs-12 noMiniature">
                            Attention aucune Photo n'a été séléectionné pour etre en couverture
                        </div>
                    {% endif %}
                    <div id="listPhotoAlbum">
                        {% for photo in album.photos %}
                            <div class="col-md-3 editPhoto" id="photo_{{ photo.id }}">
                                <div class="menuPhoto">

                                    {#<i class="fa fa-pencil"></i>#}
                                    {% if loop.index != 1 %}
                                        <i class="fa fa-chevron-left changePositionPhoto" data-action="down"
                                           data-photo="{{ photo.id }}" data-type="album"></i>
                                    {% endif %}

                                    {% if album.sousAlbums is not empty %}

                                        <i class="fa fa-chevron-down changeAlbumPhoto" data-type="A_{{ album.id }}"
                                           data-photo="{{ photo.id }}"></i>
                                    {% endif %}


                                    {% if  loop.index != album.photos|length %}
                                        <i class="fa fa-chevron-right changePositionPhoto" data-action="up"
                                           data-photo="{{ photo.id }}" data-type="album"></i>
                                    {% endif %}


                                    <i class="fa fa-trash deletePhoto{% if  album.imageMiniature is not null and album.imageMiniature.id == photo.id %} hidden{% endif %}"
                                       data-photo="{{ photo.id }}"></i>

                                    <i class="fa fa-eye viewPhoto"
                                       data-photo="{{ asset("albums/" ~ photo.image) }}"></i>
                                    <div class="hidden">
                                        <input type="text" name="photoPosition[{{ photo.id }}]" id=""
                                               value="{{ loop.index }}">
                                    </div>

                                </div>
                                <img src="{{ vich_uploader_asset(photo, 'imageFile') }}"
                                     class=" img-responsive img-rounded album-mini{% if album.imageMiniature is not null and album.imageMiniature.id == photo.id %} selected{% endif %}"
                                     data-photo="{{ photo.id }}">
                            </div>
                        {% endfor %}
                    </div>
                    {% for sousAlbum in album.sousAlbums %}

                        <div class="col-md-12 col-sm-12 text-center">
                            <h4>
                                <div class="row">
                                    <div class="col-xs-11">
                                        {{ sousAlbum.name }}
                                    </div>
                                    <div class="col-xs-1 uploadImage" data-sousAlbum="{{ sousAlbum.id }}">
                                        <i class="fa fa-upload"></i>
                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="listPhotoSousAlbum_{{ sousAlbum.id }}">
                            {% for photo in sousAlbum.photos %}
                                <div class="col-md-3 editPhoto" id="photo_{{ photo.id }}">
                                    <div class="menuPhoto">
                                        {#<i class="fa fa-pencil"></i>#}
                                        {% if loop.index != 1 %}
                                            <i class="fa fa-chevron-left changePositionPhoto" data-action="down"
                                               data-photo="{{ photo.id }}" data-type="sousalbum"></i>
                                        {% endif %}

                                        <i class="fa fa-chevron-down changeAlbumPhoto" data-type="SA_{{ sousAlbum.id }}"
                                           data-photo="{{ photo.id }}"></i>


                                        {% if  loop.index != sousAlbum.photos|length %}
                                            <i class="fa fa-chevron-right changePositionPhoto" data-action="up"
                                               data-photo="{{ photo.id }}" data-type="sousalbum"></i>
                                        {% endif %}
                                        <i class="fa fa-trash deletePhoto{% if  album.imageMiniature is not null and album.imageMiniature.id == photo.id %} hidden{% endif %}"
                                           data-photo="{{ photo.id }}"></i>
                                        <i class="fa fa-eye viewPhoto"
                                           data-photo="{{ asset("albums/" ~ photo.image) }}"></i>
                                        <div class="hidden">
                                            <input type="text" name="photoPosition[{{ photo.id }}]" id=""
                                                   value="{{ loop.index }}">
                                        </div>
                                    </div>

                                    <img src="{{ vich_uploader_asset(photo, 'imageFile') }}"
                                         class="img-responsive img-rounded album-mini{% if  album.imageMiniature is not null and album.imageMiniature.id == photo.id %} selected{% endif %}"
                                         data-photo="{{ photo.id }}">
                                </div>
                            {% endfor %}
                        </div>

                    {% endfor %}

                </div>
                <div class="row titlePage">
                    <div class="col-xs-11">
                        Sous Albums
                    </div>
                    <div class="col-xs-1">
                        <div class="togglelistSousAlbum">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="listSousAlbum round">
                    <div class="addNewSousAlbum" data-album="{{ album.id }}"
                         data-position="{{ album.sousAlbums|length }}">
                        <span>
                            Crée un sous Album
                        </span>

                    </div>

                    {% for key, sousAlbum in album.sousAlbums %}
                        <div class="row sousAlbum" id="idSousAlbum_{{ key }}">
                            <div class="col-xs-2 text-center">
                                {% if key+1 != album.sousAlbums|length %}
                                    <div class="buttonSousAlbum" onclick="changePositionAlbum({{ key }}, 'down')">
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                {% endif %}
                                {% if key !=0 %}
                                    <div class="buttonSousAlbum" onclick="changePositionAlbum({{ key }}, 'up')">
                                        <i class="fa fa-angle-up"></i>
                                    </div>
                                {% endif %}


                            </div>
                            <div class="col-xs-8">
                                <input type="text" class="sousAlbumName" name="sousAlbumName[{{ key }}]"
                                       id="sousAlbumName[{{ key }}]" value="{{ sousAlbum.name }}">
                            </div>
                            <div class="col-xs-2">
                                <div class="buttonSousAlbum" onclick="addCommentSousAlbum({{ key }})">
                                    <i class="fa fa-paragraph"></i>
                                </div>
                                <div class="buttonSousAlbum"
                                     onclick="deleteSousAlbum({{ sousAlbum.id }},{{ '"'~sousAlbum.name|escape('js')~'"' }}, {{ sousAlbum.photos|length }})">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <input type="text" value="{{ key }}" class="inputPosition" readonly>
                                <input type="text" value="{{ sousAlbum.id }}" class="sousAlbumId" name="sousAlbumId[]"
                                       readonly>
                                <textarea cols="30" rows="10" class="sousAlbumMessage"
                                          name="sousAlbumMessage[{{ key }}]"
                                          id="sousAlbumMessage[{{ key }}]">{{ sousAlbum.message }}</textarea>
                            </div>
                        </div>
                    {% endfor %}


                </div>


                <div class="row titlePage">
                    <div class="col-xs-11">
                        Liste des commentaires
                    </div>
                    <div class="col-xs-1">
                        <div class="togglelistComment">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="listComment">
                    {% for key, comment in album.comments %}
                        <div class="row round" id="idComment_{{ comment.id }}">
                            <div class="comment">
                                <div class="auteur">{{ comment.name }}</div>
                                <div class="date">{{ comment.date|date("d/m/Y") }}</div>
                                {{ comment.message|nl2br }}
                            </div>
                        </div>
                    {% endfor %}
                </div>


            </div>
        </form>
    </div>
    <div class="changeParentPhoto">

        <div class="actionParentPhoto" data-select="A_{{ album.id }}">
            {{ album.name }}
        </div>
        {% for sousAlbum in album.sousAlbums %}
            <div class="actionParentPhoto" data-select="SA_{{ sousAlbum.id }}">
                {{ sousAlbum.name }}
            </div>

        {% endfor %}
    </div>

    <div class="deleteSousAlbum">
        <div class="content">
            <div class="step step-1">
                <div class="message">
                    Tu va supprimer
                    <h4 class="title">sous Album</h4>
                    Il contient <span class="number">xx</span> photos<br/>
                </div>

                <div class="choice row">
                    <div class="col-xs-6 text-center">
                        <div class="btn transferePhotos" data-toggle="tooltip" data-placement="top"
                             title="Transfére les photos a un autre album/sousAlbum">
                            Transfèrer
                        </div>
                    </div>
                    <div class="col-xs-6 text-center">
                        <div class="btn deletePhotos" data-toggle="tooltip" data-placement="top" title="Les Supprimer">
                            Supprimer
                        </div>
                    </div>

                </div>
            </div>
            <div class="step step-2">
                <div class="message">
                    Vers quel Album/sousAlbum veu tu transférer les photos
                </div>
                <div class="choice text-center">
                    <div class="choiceTransfere" data-select="A_{{ album.id }}">
                        {{ album.name }}
                    </div>
                    {% for sousAlbum in album.sousAlbums %}
                        <div class="choiceTransfere" data-select="SA_{{ sousAlbum.id }}">
                            {{ sousAlbum.name }}
                        </div>

                    {% endfor %}


                </div>


            </div>
            <div class="row menu">
                <div class="col-xs-3">
                    <div class="btn transferePhotos step step-2">
                        Retour
                    </div>
                </div>
                <div class="col-xs-6">

                </div>
                <div class="col-xs-3 text-center">
                    <div class="btn escape">
                        Annuler
                    </div>
                </div>
            </div>

        </div>

    </div>

{% endblock %}


{% block javascript %}



    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

        $("#drop-area").dmUploader({
            url: '/ajax/uploadPhoto',
            //... More settings here...
            allowedTypes: "image/*",

            extraData: function () {
                return {
                    "idAlbum": $('#albumId').val(),
                    "idSousAlbum": $('#sousAlbumSelect').find(":selected").val(),
                };
            },

            onInit: function () {
                console.log('Callback: Plugin initialized');

            },
            onUploadSuccess: function (id, data) {

                $('#photo_' + id).remove();
                if (data[3] != 0) {
                    let html = $('#listPhotoSousAlbum_' + data[3]).html() + '<div class="col-md-3 editPhoto" id="photo_' + data[1] + '">' +
                        '<div class="menuPhoto">\n' +
                        '</div>' +
                        '<img src="/albums/' + data[0] + '" class="img-responsive img-rounded album-mini">' +
                        '</div>';
                    $('#listPhotoSousAlbum_' + data[3]).html(html);
                } else {
                    let html = $('#listPhotoAlbum').html() + '<div class="col-md-3 editPhoto" id="photo_' + data[1] + '">' +
                        '<div class="menuPhoto">\n' +
                        '</div>' +
                        '<img src="/albums/' + data[0] + '" class="img-responsive img-rounded album-mini">' +
                        '</div>';
                    $('#listPhotoAlbum').html(html);
                }


            },
            onUploadProgress: function (id, percent) {

            },
            onNewFile: function (id, file) {

            },
            onBeforeUpload: function (id) {
                let html = '<div class="col-md-3 editPhoto" id="photo_' + id + '">' +
                    '<img src="{{ asset('img/loading.gif') }}" class="img-responsive img-rounded album-mini">' +
                    '</div>';

                html += $('.listPhotos').html()

                $('.listPhotos').html(html);

            }

            // ... More callbacks
        });

        $('.addNewSousAlbum').on('click', function (data) {

            let key = $(this).data("position");
            $(this).data("position", key + 1);

            let html = '<div class="row sousAlbum" id="idSousAlbum_' + key + '">\n' +
                '<div class="col-xs-2 text-center">\n' +
                '</div>\n' +

                '<div class="col-xs-9">\n' +
                '<input type="text" class="sousAlbumName" name="sousAlbumName[' + key + ']" \n' +
                'id="sousAlbumName[' + key + ']" value="">\n' +
                '</div>\n' +

                '<div class="col-xs-1">\n' +
                '<div class="buttonSousAlbum" onclick="addCommentSousAlbum(' + key + ')">\n' +
                '<i class="fa fa-paragraph"></i>\n' +
                '</div>\n' +
                '</div>\n' +


                '<div class="col-xs-12">\n' +

                '<input type="text" value="' + key + '" class="inputPosition" readonly>\n' +
                '<input type="text" value="" class="sousAlbumId" name="sousAlbumId[]" readonly>\n' +
                '<textarea cols="30" rows="10" class="sousAlbumMessage" ' +
                'name="sousAlbumMessage[' + key + ']" ' +
                'id="sousAlbumMessage[' + key + ']"></textarea>\n' +
                '</div>\n' +
                '</div>';

            $('.listSousAlbum').append(html);


        });


        $('.toggleMessageAlbum').on('click', function (data) {
            $('.messageAlbum').slideToggle()
        });
        $('.togglePreviewAlbum').on('click', function (data) {
            $('.listPhotos').slideToggle()
        });
        $('.togglelistSousAlbum').on('click', function (data) {
            $('.listSousAlbum').slideToggle()
        });
        $('.togglelistComment').on('click', function (data) {
            $('.listComment').slideToggle()
        });


        $('.submitForm').on('click', function (data) {
            $('form#addNewAlbumForm').submit();
        });


        $('.uploadImage').on('click', function (e) {

            let sousAlbum = $(this).data('sousalbum');
            let modalUploadPhoto = $('.modalUploadPhoto');
            if (sousAlbum !== undefined) {
                $('#sousAlbumSelect option[value="' + sousAlbum + '"]').prop('selected', true);
            }
            modalUploadPhoto.css({
                'top': e.pageY - 100 + 'px',
                'left': e.pageX - 200 + 'px',
                'display': 'block'
            });

        });

        $('.modalUploadPhoto').on('mouseleave', function (e) {
            $(this).css({
                'display': 'none'
            })

        });



        $('.viewPhoto').on('click', function (data) {
            $('.myModal .content').html('<img src="' + $(this).data('photo') + '" alt="" class="img-responsive">')
            $('.myModal').show();
        });


        $('.listPhotos img').on('click', function (data) {
            $('.noMiniature').hide();
            let oldPhoto = $('.listPhotos img.selected').data('photo');
            let newPhoto = $(this).data('photo')

            $('#photo_' + oldPhoto + ' .deletePhoto').removeClass('hidden');
            $('#photo_' + newPhoto + ' .deletePhoto').addClass('hidden');

            $('#photo_' + oldPhoto + ' img').removeClass('selected');
            $('#photo_' + newPhoto + ' img').addClass('selected');

            $.ajax({
                type: 'POST',
                data: {
                    idAlbum: {{ album.id }},
                    idPhoto: $(this).data('photo'),
                },
                url: "/ajax/changeMiniature",
                dataType: 'json',
                timeout: 2000,
                success: function (response) {

                },
                error: function () {

                }
            })
        });

        $('.changePositionPhoto').on('click', function (event) {
            let action = $(this).data('action');
            let photo = $(this).data('photo');
            let type = $(this).data('type');
            $.ajax({
                type: 'POST',
                data: {
                    action: action,
                    photo: photo,
                    type: type,
                },
                url: "/ajax/changePositionPhoto",
                dataType: 'json',
                timeout: 2000,
                success: function (response) {
                    switchPhoto(response.from, response.to, response.action);
                },
                error: function () {

                }
            })


        });

        $('.changeAlbumPhoto').on('click', function (e) {
            let typePhoto = $(this).data('type');
            let photo = $(this).data('photo');
            $('.actionParentPhoto').show();
            $('[data-select="' + typePhoto + '"]').hide();

            $('.changeParentPhoto').css({
                'top': e.pageY - 100 + 'px',
                'left': e.pageX - 10 + 'px',
                'display': 'block'
            }).data('photo', photo);

        });

        $('.changeParentPhoto').on('mouseleave', function (e) {
            $(this).css({
                'display': 'none'
            })

        });
        $('.actionParentPhoto').on('click', function (e) {
            let photo = $('.changeParentPhoto').data('photo');
            let select = $(this).data('select');
            $.ajax({
                type: 'POST',
                data: {
                    select: select,
                    photo: photo,
                },
                url: "/ajax/transferePhoto",
                dataType: 'json',
                timeout: 6000,
                success: function (response) {
                    window.location.reload();
                },
                error: function () {

                }
            })


        });


        function switchPhoto(fromPhoto, toPhoto, action) {
            if (action === "up") {
                $('#photo_' + toPhoto).after($('#photo_' + fromPhoto)[0].outerHTML)
                $('#photo_' + fromPhoto)[0].remove()
            } else {
                let divFrom = $('#photo_' + fromPhoto)[0];

                $('#photo_' + toPhoto).before(divFrom.outerHTML);
                divFrom.remove()
            }

        }


        $('.deleteSousAlbum').on('click', function (event) {
            if (event.target.getAttribute('class') === "deleteSousAlbum") {
                closeDeleteSousAlbum();
            }
        });

        $('.transferePhotos').on('click', function (event) {
            $('.deleteSousAlbum .step').slideToggle();
            let idSousAlbum = $('.deleteSousAlbum').data('idSousAlbum');
            $('.choiceTransfere').show();
            $('[data-select="SA_' + idSousAlbum + '"]').hide();
        });

        $('.choiceTransfere').on('click', function (event) {
            let select = $(this).data('select');
            let idFrom = $('.deleteSousAlbum').data('idSousAlbum');
            $('.deleteSousAlbum .content').html("<img src='{{ asset('img/loading.gif') }}' />");

            $.ajax({
                type: 'POST',
                data: {
                    select: select,
                    idFrom: idFrom,
                },
                url: "/ajax/transferePhotos",
                dataType: 'json',
                timeout: 6000,
                success: function (response) {
                    ajaxDeleteSousAlbum(idFrom)
                },
                error: function () {

                }
            })


        });

        $('.deletePhotos').on('click', function (event) {
            let idSousAlbum = $('.deleteSousAlbum').data('idSousAlbum');
            ajaxDeleteSousAlbum(idSousAlbum)

        })


        function ajaxDeleteSousAlbum(idSousAlbum) {
            $.ajax({
                type: 'POST',
                data: {
                    idSousAlbum: idSousAlbum,
                },
                url: "/ajax/supprSousAlbum",
                dataType: 'json',
                timeout: 6000,
                success: function (response) {
                    $('form#addNewAlbumForm').submit();
                },
                error: function () {

                }
            })
        }

        function changePositionAlbum(key, operator) {

            let valuePosition = parseInt($('#idSousAlbum_' + key + ' input.inputPosition').val());


            let fromInputDir = $('#idSousAlbum_' + key + ' input.sousAlbumDir');
            let fromInputName = $('#idSousAlbum_' + key + ' input.sousAlbumName');
            let fromInputMessage = $('#idSousAlbum_' + key + ' textarea.sousAlbumMessage');
            let fromInputId = $('#idSousAlbum_' + key + ' input.sousAlbumId');

            let fromAlbumDir = fromInputDir.val();
            let fromAlbumName = fromInputName.val();
            let fromAlbumMessage = fromInputMessage.val();
            let fromAlbumId = fromInputId.val();

            let newPosition = 0;
            if (operator === "down") {
                newPosition = valuePosition + 1;
            }
            if (operator === "up") {
                newPosition = valuePosition - 1;
            }
            let toInputDir = $('#idSousAlbum_' + newPosition + ' input.sousAlbumDir');
            let toInputName = $('#idSousAlbum_' + newPosition + ' input.sousAlbumName');
            let toInputMessage = $('#idSousAlbum_' + newPosition + ' textarea.sousAlbumMessage');
            let toInputId = $('#idSousAlbum_' + newPosition + ' input.sousAlbumId');

            let toAlbumDir = toInputDir.val();
            let toAlbumName = toInputName.val();
            let toAlbumMessage = toInputMessage.val();
            let toAlbumId = toInputId.val();


            fromInputDir.val(toAlbumDir);
            fromInputName.val(toAlbumName);
            fromInputMessage.val(toAlbumMessage);
            fromInputId.val(toAlbumId);

            toInputDir.val(fromAlbumDir);
            toInputName.val(fromAlbumName);
            toInputMessage.val(fromAlbumMessage);
            toInputId.val(fromAlbumId);


        }

        function closeDeleteSousAlbum() {
            $('.deleteSousAlbum').slideToggle();
            setTimeout(1000, function () {
                $('.deleteSousAlbum .title').html("");
                $('.deleteSousAlbum .number').html("");
            })
        }

        function addCommentSousAlbum(key) {
            let inputMessage = $('#idSousAlbum_' + key + ' textarea.sousAlbumMessage');
            inputMessage.slideToggle();
        }

        function deleteSousAlbum(id, name, countPhotos) {
            $('.deleteSousAlbum').slideToggle().data('idSousAlbum', id);
            $('.deleteSousAlbum .title').html(name);
            $('.deleteSousAlbum .number').html(countPhotos);
        }

    </script>
{% endblock %}
