{% extends 'baseAdmin.html.twig' %}

{% block title %}{{ title }}!{% endblock %}

{% block body %}

    <div class="addAlbum">
        <div class="content">
            <div class="round row">
                <div class="col-xs-12">
                    <p>Bienvenue dans l'administration.</p>
                    <p>Il y a {{ statPhotos.total }} photos sur ce le site, réparti dans {{ statAlbums.total }}
                        albums</p>
                </div>
            </div>
            {% if statPhotos.inNoWhere is not empty or statAlbums.noMiniature is not empty %}
                <h4 class="titleError">Erreur</h4>
                <div class="round messageError row">
                    {% if statPhotos.inNoWhere is not empty %}
                        <div class="col-ws-12">
                            Les photos ci dessous n'aparraise dans aucun album:
                        </div>
                        {% for photo in statPhotos.inNoWhere %}
                            <div class="col-xs-3" id="photo_{{ photo.id }}">
                                <div class="menuPhoto">
                                    <i class="fa fa-trash deletePhoto"
                                       data-photo="{{ photo.id }}"></i>

                                    <i class="fa fa-eye viewPhoto"
                                       data-photo="{{ asset("albums/" ~ photo.image) }}"></i>
                                </div>
                                <img src="{{ vich_uploader_asset(photo, 'imageFile') }}"
                                     class="img-responsive img-rounded album-mini">
                            </div>

                        {% endfor %}
                    {% endif %}
                    {% if statAlbums.noMiniature is not empty %}
                        <div class="col-ws-12">
                            Les Albums ci dessous n'ont pas de miniature:
                        </div>

                        {% for album in statAlbums.noMiniature %}
                            <div class="row titlePage">
                                <div class="col-xs-10">
                                    {{ album.name }}
                                </div>
                                <div class="col-xs-1">
                                    <a href="{{ path('album', {'dir': album.dir}) }}" target="_blank">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </div>
                                <div class="col-xs-1">
                                    <a href="{{ path('administrationeditAlbum', {'id': album.id}) }}">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            {% endif %}


            <h4>Dernier commentaires</h4>
            <div class="round ">
                <div class="row titlePage">
                    <div class="col-xs-2">
                        Date
                    </div>
                    <div class="col-xs-3">
                        Album
                    </div>
                    <div class="col-xs-3">
                        Qui ?
                    </div>
                    <div class="col-xs-3">
                        Email
                    </div>
                    <div class="col-xs-1">

                    </div>
                </div>


                {% for comment in lastComment %}
                    <div class="row titleComment">
                        <div class="col-xs-2">
                            {{ comment.date|date('d-m-Y') }}
                        </div>
                        <div class="col-xs-3">
                            {{ comment.album.name }}
                        </div>
                        <div class="col-xs-3">
                            {{ comment.name }}
                        </div>
                        <div class="col-xs-3">
                            {{ comment.email }}
                        </div>
                        <div class="col-xs-1">
                            <i class="fa fa-eye viewComment" data-id="{{ comment.id }}"></i>
                        </div>

                    </div>
                    <div class="row round commentAdmin" id="comment_{{ comment.id }}">
                        <div class="comment">
                            <div class="auteur">{{ comment.name }}</div>
                            <div class="date">{{ comment.date|date("d/m/Y") }}</div>
                            {{ comment.message|nl2br }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <h4>Un peu d'inspiration</h4>
            <div class="round row">
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/random/?nature"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/random/?urban"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/daily/?macro"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/daily/?bird"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/daily/?animal"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/daily/?move"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/daily/?water"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-3">
                    <img src="https://source.unsplash.com/daily/?flower"
                         class="img-responsive img-rounded album-mini">
                </div>
                <div class="col-xs-6">
                    <img src="https://source.unsplash.com/daily/?panorama"
                         class="img-responsive img-rounded album-mini">
                </div>

            </div>
            <h4>TODO LIST</h4>
            <ul>
                <li><s>Add Album</s>
                    <ul>
                        <li><s>* Info Album</s></li>
                        <li><s>add SousAlbum</s></li>
                        <li><s>add Photo</s></li>
                    </ul>
                </li>
                <li><s>DELETE Album</s>
                    <ul>
                        <li><s>SET Null Miniature to album</s></li>
                        <li><s>Delete Photo from Album</s></li>
                        <li><s>Delete Photo from SousAlbum</s></li>
                        <li><s>Delete SouSAlbum From Album</s></li>
                        <li><s>Delete Album</s></li>
                    </ul>
                </li>
                <li><s>UPDATE Album
                        <ul>
                            <li>Name</li>
                            <li>Date Time</li>
                            <li>Miniature</li>
                            <li>Status</li>
                            <li>Message</li>
                        </ul>
                    </s>
                </li>
                <li>
                    <s>Admin Background
                        <ul>
                            <li>Edit</li>
                            <li>requette Ajax pour aller chercher les albums</li>
                        </ul>
                    </s>
                </li>
                <li>
                    Test Mail sur cerynna.fr
                </li>
            </ul>

        </div>
    </div>
{% endblock %}


{% block javascript %}
    <script>
        /*        $('button').click(function () {
                    let data = $('form').serializeArray();
                    console.log(data);
                })*/

        $('.viewComment').on('mouseenter', function (e) {

            let idComment = $(this).data('id');
            let commentAll = $('#comment_' + idComment);

            commentAll.css({
                'top': e.pageY - 200 + 'px',
                'left': e.pageX - 500 + 'px',
                'display': 'block'
            });

        });

        $('.commentAdmin').on('mouseleave', function (e) {
            $(this).css({
                'display': 'none'
            })

        });
    </script>
{% endblock %}
