<div class="content aside">
    <ul class="">
        <li>
            <a href="{{ path('administrationhomeAdmin') }}">
                <i class="fa fa-home"></i> Acceuil
            </a>
        </li>
        <li>
            <a href="{{ path('administrationAdmin_Albums') }}">
                <i class="fa fa-picture-o"></i> Albums
            </a>
        </li>
        <li>
            <a href="{{ path('administrationaddAlbum') }}">
                <i class="fa fa-plus"></i> Crée un Album
            </a>
        </li>
        <li>
            <a href="{{ path('administrationaddAlbumZip') }}">
                <i class="fa fa-archive"></i> Importer un Zip
            </a>
        </li>
        <li>
            <a href="{{ path('administrationconfig') }}">
                <i class="fa fa-wrench"></i> Paramettre
            </a>
        </li>
    </ul>
</div>